
.table{background-color: white;}
h1 {text-align: center;
text-decoration-color: "#ff0000";
font-family: sans-serif;
}
body {

background-color: lightblue;
background-image: url("https://www.pexels.com/photo/abandoned-forest-industry-nature-34950/");}
