<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>property consultant</title>
    <!-- Latest compiled and minified CSS -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/master.css' %}">


  </head>


  <body>

    <nav class="navbar  navbar-inverse" role="navigation" id="navbar">
    			<div class="container">

            <a class="navbar-brand mynav" href="{% url 'home' %}">myhome</a>
            <ul class="nav navbar-nav">
              <li><a href="{% url 'about' %}"><strong>About Us</strong></a></li>

            </ul>


  	{%  if  user.is_superuser %}

                					<ul class="nav navbar-nav navbar-right" >
                            <li><a href="{% url 'accounts:logout' %}" class="btn btn-simple">Logout</a></li>

                            <li><a href="{% url 'prop:create' %}" class="btn btn-simple">add property</a></li>
                          </ul>
                          {% elif user.is_authenticated %}
                          <ul class="nav navbar-nav navbar-right" >
                            <li><a href="{% url 'accounts:logout' %}" class="btn btn-simple">Logout</a></li>
                        </ul>



{% else %}


    					<ul class="nav navbar-nav navbar-right">


    						      <li><a href="{% url 'accounts:login' %}" class="btn btn-simple">Log in</a></li>
    						      <li><a href="{% url 'accounts:signup' %}" class="btn btn-simple">Sign up</a></li>
                      {% endif %}




    					</ul>




    			</div>
          		</nav>

        <div class="container mycontent">
          {% block content %}

          {% endblock %}

        </div>



<canvas id="canvas"></canvas>



  </body>
  <script src="{% static 'js/master.js' %}" type="text/javascript" ></script>

</html>
